<footer class="footer">
    <div class="div-for-top-footer">
        <h2>Obrigado pela visita!</h2>
    </div>
    <div class="div-for-bottom-footer">
        <div class="github">
            <a href="https://github.com/codebygustavo" target="_blank">
                <figure>
                    <i class="bi bi-github"></i>
                </figure>
                <div>
                    <span>Veja meu repositório</span>
                    <p>Vá para o GitHub.</p>
                </div>
            </a>
        </div>
        <div>
            <br>
            <span>&copy; Gustavo Couto. 2024</span>
        </div>
    </div>
</footer>