* {
    box-sizing: border-box;
    font-family: "Freeman", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    transition: background-color 250ms
}

:root {
    --color1: #ede7de;
    --color1-1: #f3eee7;
    --color2: #4c6763;
    --color3: #364442;
    --color3-1: #1aa2806d;
    --color4: #a3dcd4;
    --color4-1: #ff7a7a;
    --color5: #cec9c0;
    --color6: #f5f3ed;
    --fff: #fff
}

.dark {
    --color1: #233831;
    --color1-1: #1e2e293f;
    --color2: #41a384;
    --color3: #2d5852;
    --color3-1: #16a6936d;
    --color4: #3b514e;
    --color5: #4d6c68;
    --color6: #8fdcc21a;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    scroll-behavior: smooth;
    background-color: var(--color1)
}

main {
    padding: 0 1.6em
}

@media screen and (max-width:576px) {
    main {
        padding: 0 0.6em
    }
}

html {
    font-size: 100%;
}

@media screen and (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media screen and (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

section {
    margin: 1rem 0;
}

.text-for-section {
    text-align: center;
    padding: 0.5rem 0 1.4rem;
    color: var(--color3);
    font-weight: bold;
    text-transform: uppercase;
}

.text-for-section span {
    color: var(--color3-1);
}

.text-for-section h1 {
    font-size: 1.6rem;
}

/* header */

header.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 1.2rem;
    z-index: 3;
}

/* logo */
header.header .logo-icon {
    background: url("/source/logo.svg") no-repeat;
    background-color: var(--color2);
    background-position: 50% 60%;
    background-size: 80%;
    width: 46px;
    height: 46px;
    padding: 0.2rem;
    border-radius: 50%;
    transition: filter 500ms;
}

header.header .logo-icon:hover {
    filter: brightness(0.85);
}

/* contact-us */
header.header .contact-us {
    padding: 0.6rem 1.6rem;
    border-radius: 2.5rem;
    background-color: var(--color2);
    color: var(--color1);
    transition: filter 500ms;
}

header.header .contact-us:hover {
    filter: brightness(0.85);
}

/* menu */

header.header .div-for-ul ul {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.for-scroll {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    top: 0;
    background-color: var(--color1);
    position: fixed;
    box-shadow: 1px 3px 7px 1px rgba(0, 0, 0, 0.020);
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
}

.div-for-open-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    padding: 0.6rem 0.4rem;
}

.span-menu {
    content: " ";
    background-color: var(--color2);
    width: 1.2rem;
    height: 0.2rem;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 2px;
}

.span-menu-1 {
    top: 0;
}

.span-menu-2 {
    bottom: 0;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked~.menu-icon .span-menu-1 {
    transform: rotate(45deg) translateX(25%);
    top: 50%;
}

#menu-toggle:checked~.menu-icon .span-menu-2 {
    transform: rotate(-45deg) translateX(25%);
    bottom: 50%;
}

.navigation-for-header.menu-nav .nav-content {
    background-color: var(--color1);
    position: fixed;
    right: -2rem;
    top: 62.8px;
    width: 100%;
    height: calc(100% - 62.8px);
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1.8rem;
    z-index: 2;
    transition: right 500ms, opacity 500ms, visibility 500ms;
    opacity: 0;
    visibility: hidden;
}

#menu-toggle:checked~.navigation-for-header.menu-nav .nav-content {
    right: 0;
    opacity: 1;
    visibility: visible;
}

#menu-toggle:checked~body {
    overflow: hidden;
}

.navigation-for-header.menu-nav .nav-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.navigation-for-header.menu-nav .nav-list a {
    color: var(--color2);
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
}

.navigation-for-header.menu-nav .nav-list .active-nav {
    position: relative;
}

.navigation-for-header.menu-nav .nav-list .active-nav::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    content: " ";
    width: 110%;
    height: 2px;
    border: 2px solid var(--color2);
    background-color: var(--color2);
}

@media screen and (max-width: 720px) {
    .navigation-for-header.menu-nav .nav-list a {
        font-size: 2.2rem;
    }
}


.line {
    margin: 1rem;
    width: 50%;
    border-bottom: 1px solid var(--color1-1);
}

.navigation-for-header.menu-nav .contact-itens-for-nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
}

.navigation-for-header.menu-nav .contact-itens-for-nav span {
    font-size: 1.6rem;
    color: var(--color2);
    font-weight: bold;
}

.navigation-for-header.menu-nav .contact-itens-for-nav a {
    font-size: 1rem;
}

/* button for toggle color */

/* The switch - the box around the slider */
.switch {
    font-size: 1rem;
    position: relative;
    display: inline-block;
    width: 4em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--color2);
    transition: 0.4s;
    border-radius: 0.5em;
    box-shadow: 0 0.2em var(--color3);
    transform: scale(0.75);
}

.slider:before {
    position: absolute;
    content: " ";
    height: 1.5em;
    width: 1.4em;
    border-radius: 0.3em;
    left: 0.3em;
    bottom: 0.7em;
    background-color: var(--color4-1);
    transition: 0.4s;
    box-shadow: 0 0.4em var(--color3);
}

.slider:hover::before {
    bottom: 0.5em;
}

input:checked+.slider:before {
    transform: translateX(2em);
    background: var(--color4);
}

/* home page */

.start-section {
    height: calc(75vh - 62.8px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.start-section h1,
.start-section h2 {
    color: var(--color2);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 4.4rem;
    line-height: 3.8rem;
}

.start-section span {
    color: var(--color3);
    font-size: 1.2rem;
}

/* cards */
.intro-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.8rem;
}

.intro-section .div-intro-card {
    background-color: var(--color1-1);
    padding: 1rem;
    border-radius: 12px;
}

.intro-section .div-intro-card span {
    color: var(--color5);
    font-size: 1.2rem;
}

.intro-section .div-intro-card h2 {
    color: var(--color2);
    font-size: 1.6rem;
    text-transform: uppercase;
}

.intro-section .div-intro-card p {
    color: var(--color3);
    font-size: 1.1rem;
    margin: 0.8rem 0;
    font-weight: lighter;
}

.intro-section .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 952px) {
    .intro-section {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 720px) {
    .intro-section {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .start-section h1,
    .start-section h2 {
        font-size: 10.2vw;
        line-height: 8.45vw;
    }

    .start-section span {
        font-size: 3.8vw;
    }
}

.for-more-section .for-more-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

.for-more-section .div-more-card {
    background-color: var(--color1-1);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

.for-more-section .more-card-1 {
    border-right: 1px solid var(--color5);
    border-radius: 12px 0 0 12px;
}

.for-more-section .more-card-2 {
    border-radius: 0 12px 12px 0;
}

@media screen and (max-width: 720px) {

    .for-more-section .for-more-div {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .for-more-section .more-card-1 {
        border-right: none !important;
        border-bottom: 1px solid var(--color5);
    }

    .for-more-section .more-card-1 {
        border-right: 1px solid var(--color2);
        border-radius: 12px 12px 0 0;
    }

    .for-more-section .more-card-2 {
        border-radius: 0 0 12px 12px;
    }
}

.for-more-section .div-more-card h2 {
    color: var(--color2);
    font-size: 2rem;
}

.for-more-section .div-more-card p {
    font-size: 1rem;
    color: var(--color3);
    margin: 1rem 0;
    height: 60px;
}

.for-more-section .div-more-card a {
    padding: 1rem 1.2rem;
    border: 1px solid var(--color2);
    color: var(--color2);
    font-size: 1rem;
    border-radius: 25px;
    transition: 500ms;
}

.for-more-section .div-more-card a:hover {
    background-color: var(--color2);
    color: var(--color1);
}

.div-more-card a:hover i {
    margin-left: 5px;
    transition: margin-left 500ms ease;
}

/* works */

.works-about-section .text-about {
    text-align: center;
}

.works-about-section .text-about p {
    color: var(--color3);
    font-size: 1.1rem;
    font-weight: lighter;
}

.works-about-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.works-about-section .filter-for-work ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    padding: 2rem 1rem;
}

.works-about-section .filter-for-work ul li {
    padding: 1rem 1.4rem;
    border-radius: 25px;
    background-color: var(--color1-1);
    text-transform: uppercase;
    transition: filter 500ms;
}

.works-about-section .filter-for-work ul li:hover {
    filter: brightness(0.85);
}

.works-about-section .filter-for-work ul .li-works-1 {
    background-color: var(--color2);
}

.works-about-section .filter-for-work ul .li-works-1 a {
    color: var(--color1);
}

.works-about-section .filter-for-work ul li a {
    color: var(--color2);
}

.works-about-section .filter-for-work ul .li-works-1 a {
    color: var(--color1);
}

.works-about-section .div-work-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
}

.works-about-section .div-work-card .bg-div {
    background-color: var(--color1-1);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 360px;
}

.works-about-section .div-work-card .bg-div img {
    width: 90%;
    height: max-content;
    max-height: 265px;
    border-radius: 12px;
    object-fit: cover;
}

.works-about-section .div-work-card .about-work {
    margin: 1rem 0;
}

.works-about-section .div-work-card .about-work h2 {
    font-size: 1.4rem;
    color: var(--color2);
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.works-about-section .div-work-card .about-work hr {
    border: 1px solid var(--color6);
}

.works-about-section .div-work-card .about-work p {
    color: var(--color3);
    font-size: 1rem;
    margin-top: 0.4rem;
}

@media screen and (max-width: 720px) {

    .works-about-section .div-work-card {
        max-width: 620px;
    }

    .works-about-div {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

}

.works-archive {
    text-align: center;
}

.works-archive a {
    padding: 1rem 1.6rem;
    border-radius: 25px;
    font-size: 1rem;
    background-color: var(--color1-1);
    color: var(--color2);
}

.top-for-work .information-for-work ol {
    display: flex;
    gap: 1.6rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:576px) {
    .top-for-work .information-for-work ol {
        flex-direction: column;
    }
}

.top-for-work .information-for-work li {
    width: 100%;
}

.top-for-work .information-for-work li h2 {
    font-size: 1.2rem;
    color: var(--color3);
    padding-bottom: 1rem;
    border-bottom: 4px solid var(--color1-1);
}

.top-for-work .information-for-work li p {
    color: var(--color2);
    padding-top: 1rem;
    font-size: 1rem;
}

/* 404 */

.error-section {
    height: calc(100vh - 62.8px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error-section h1 {
    font-size: 6rem;
    color: var(--color2);
}

.error-section p {
    color: var(--color3);
    font-size: 1.2rem;
}

.error-section a {
    margin-top: 1rem;
    color: var(--color1);
    background-color: var(--color2);
    border-radius: 25px;
    padding: 1rem 1.8rem;
    transition: filter 500ms;
}

.error-section a:hover {
    filter: brightness(0.85);
}

/* footer */

footer.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.6rem;
}

footer.footer h2 {
    font-size: 4rem;
    color: var(--color2);
}

@media screen and (max-width: 720px) {
    footer.footer h2 {
        font-size: 10vw;
    }
}

footer.footer .div-for-bottom-footer {
    width: 100%;
}

footer.footer span {
    color: var(--color2);
    font-weight: bold;
    font-size: 1.2rem;
}

footer.footer .github {
    margin-top: 2rem;
}

footer.footer .github a {
    align-items: center;
    background-color: var(--color1-1);
    border-radius: 60px;
    display: flex;
    gap: 2em;
    justify-content: flex-start;
    padding: 1em 1.6em;
    width: 100%
}

footer.footer .github div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer.footer .github a figure i {
    color: var(--color2);
    font-size: 48px
}

footer.footer .github a span {
    color: var(--color2);
    font-size: 18px
}

footer.footer .github a p {
    color: var(--color2);
    font-size: 20px;
    font-weight: 600;
}