<section class="about-section">
    <div class="top-for-about">
        <h1>Te ajudando a me conhecer melhor.</h1>
        <p>Sou estudante de Informática para Internet.
            Apaixonado por Desenvolvimento Web, também estudo autonomamente e estou determinado a iniciar minha carreira em
            programação. Sempre em busca de aprendizado contínuo e melhorias.</p>
    </div>
</section>