<section class="start-section">
    <div class="text-start">
        <h1>
            Olá. Sou o Gustavo.
        </h1>
        <h2>
            Um Programador.
        </h2>
        <span>
            Desenvolvo experiências incriveis com <strong>JavaScript</strong>, <strong>Node.js</strong>,
            <strong>React.js</strong> e <strong>MySql</strong>.
        </span>
    </div>
</section>
<section class="intro-section">
    <div class="div-intro-card intro-card-1">
        <div class="text">
            <span>Dev</span>
            <h2>Desenvolvimento Web.</h2>
            <p>
                Para mim, desenvolvimento web é resolver problemas através da criação e aprimoramento de experiências
                online. Conecta as pessoas, possibilitando interações e facilitando a vida através da
                tecnologia. Estou aqui para estabelecer um novo padrão, tornando a web um lugar mais acessível e
                significativo para todos.
            </p>
        </div>
    </div>
    <div class="div-intro-card intro-card-2">
        <div class="text">
            <span>Design</span>
            <h2>UI & UX.</h2>
            <p>
                Busco a harmonia entre Interface do Usuário e Experiência do Usuário, com
                interfaces atraentes e intuitivas. Garantindo que a experiência do usuário seja
                envolvente e satisfatória, tornando a interação com a tecnologia algo natural e fluido.
            </p>
        </div>
    </div>
</section>

<section class="for-more-section">
    <div class="text-for-section">
        <h2><span>./</span>Mais sobre</h2>
    </div>
    <div class="for-more-div">
        <div class="div-more-card more-card-1">
            <h2>Eu Desenvolvo projetos.</h2>
            <p>Engajado em iniciativas open source, criação de websites e experimentação.</p>
            <a href="/portfolio">Explore meu portfólio <i class="bi bi-arrow-right-short"></i></a>
        </div>
        <div class="div-more-card more-card-2">
            <h2>Conheça-me e minhas paixões.</h2>
            <p>Descubra quem sou e o que me inspira.</p>
            <a href="#">Saiba mais sobre mim <i class="bi bi-arrow-right-short"></i></a>
        </div>
    </div>
</section>