:root{
  --firstColor-: #545454;
  --secondColor-: #000000;
  --thirdColor-: #fefefe;
  --fourthColor-: #ebf8ff;
  --fifthColor-: #daf3ff;
  --fifthSubColor-: #a2e0ff;
  --sixthColor-: #ffebf6;
  --sixthSubColor-: #fec5e3;
  --seventhColor-: #fff5d2;
  --seventhSubColor-: #ffe661;
  --eighthColor-: #f3eeff;
  --eighthSubColor-: #ae8bff;
  --tenthColor-: #ff9d9d;
  --tenthSubColor-: #ff6767;
  --eleventhColor-: #fff7d2;
  --eleventhSubColor-: #ffd748;
  --twelfthColor-: #fbd5f3;
  --twelfthSubColor-: #fdaedf;
  --shadow- : #9191911f;
}
.black {
  --firstColor-: #a7a6a6;
  --secondColor-: #eeeeee;
  --thirdColor-: #2b2b2b;
  --fourthColor-: #363636;
  --fifthColor-: #313131;
  --fifthSubColor-: #8ad8ff;
  --sixthColor-: #313131;
  --sixthSubColor-: #fec5e3;
  --seventhColor-: #313131;
  --seventhSubColor-: #ffe661;
  --eighthColor-: #313131;
  --eighthSubColor-: #ae8bff;
  --tenthColor-: #313131;
  --tenthSubColor-: #ff4a4a;
  --eleventhColor-: #313131;
  --eleventhSubColor-: #ffd748;
  --twelfthColor-: #313131;
  --twelfthSubColor-: #ff9be9;
  --shadow- : #1d1d1d60;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
}
*, html, body {
  scroll-behavior: smooth;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
}
body {
  background: var(--thirdColor-);
  max-width: 1600px;
  margin: 0 auto;
}
/* repeated tags */
#homePage,
#HabilitysPage,
#skillsPage {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#HabilitysPage h2,
#skillsPage h2,
#projectsPage h2 {
  color: var(--secondColor-);
  font-size: 2.4em;
  text-align: center;
}
#homePage p {
  margin-top: 1rem;
  max-width: 550px;
  padding: 0 0.8rem;
  margin: 0 auto;
  color: var(--secondColor-);
}
#homePage p strong {
  color: var(--firstColor-);
}

#HabilitysPage h2 ~ p,
#skillsPage h2 ~ p,
#projectsPage h2 ~ p {
  color: var(--firstColor-);
  font-size: 1em;
  padding: 0 0.5rem;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}
/* :where(#HabilitysPage, #skillsPage) .cardContainer {
    padding: 1rem 0;
    background: var(--sua-cor-aqui);
} */
#HabilitysPage .cardContainer {
  display: grid;
  gap: 3rem;
  margin: 6rem 0;
  position: relative;
}
#skillsPage .cardContainer,
#projectsPage .cardContent {
  position: relative;
}
#HabilitysPage .cardContainer::after,
#skillsPage .cardContainer::after {
  content: "";
  background: var(--fourthColor-);
  position: absolute;
  left: 3%;
  top: -5%;
  border-radius: 20px;
  width: 95%;
  height: 110%;
  z-index: -1;
  opacity: 0.6;
}
.card{
  color: var(--secondColor-);
}
/* Opcionalmente, você pode adicionar estilos para cada card dentro do grid */
#HabilitysPage .cardContainer .card {
  background: var(--thirdColor-);
  box-shadow: 1px 1px 6px var(--shadow-);
  border-radius: 12px;
  padding: 1.5rem;
  max-width: 450px;
  gap: 1.5rem;
}
#HabilitysPage .cardContainer .card h2 {
  font-size: 2em;
  margin-bottom: 2rem;
}
.cardContainer .card .leftImg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.cardContainer .card .leftImg i {
  padding: 1rem;
  font-size: 2em;
  border-radius: 10px;
}
/* tags */
.logo {
  text-transform: uppercase;
  font-size: 1.12em;
  color: var(--firstColor-);
  pointer-events: none;
}
header ul {
  display: inline-flex;
  gap: 30px;
}
header ul li a {
  font-size: 0.95em;
  color: var(--firstColor-);
  transition: 500ms;
  position: relative;
}
header ul li a:hover {
  color: var(--secondColor-);
  cursor: pointer;
}
header ul li a::after,
.footer .childContent ul li a::after {
  content: " ";
  position: absolute;
  width: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  border: 1px solid var(--firstColor-);
  transition: 500ms;
}
header ul li a:hover:after,
.footer .childContent ul li a:hover::after {
  width: 100%;
  opacity: 1;
}
header .button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 8px 16px;
  gap: 8px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background 500ms;
  color: var(--firstColor---);
}
.changeColor{
  border-radius: 50%;
  font-size: 1.5em;
  border: none;
  display: flex;
  background: transparent;
  color: var(--firstColor-);
}
header .lable {
  margin-top: 1px;
  font-size: 0.95em;
  line-height: 22px;
  color: var(--firstColor-);
  font-family: sans-serif;
  letter-spacing: 1px;
}
header .button .ri-github-fill{
  color: var(--firstColor-);
}
header .button:hover .ri-github-fill {
  color: var(--firstColor-);
  animation: spin 1s linear infinite;
}
.buttonsHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.buttonsHeader #menuButton {
  display: none;
  padding: 1rem;
  font-size: 1.5em;
  background: var(--firstColor-);
  color: var(--thirdColor-);
  border-radius: 50%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#homePage {
  width: 100%;
  height: 100vh;
  text-align: center;
  justify-content: space-around;
}
#homePage h1 {
  font-size: 5em;
  color: var(--secondColor-);
}
#homePage h2 {
  font-size: 1.2em;
  color: var(--firstColor-);
}
#homePage span {
  display: flex;
  align-items: center;
  gap: 12px;
  pointer-events: none;
  color: var(--secondColor-);
}
#homePage span i {
  padding: 0.8rem;
  color: var(--thirdColor-);
  border-radius: 50%;
  background-color: var(--firstColor-);
  animation: indication 1500ms linear infinite;
}
#emailButton{
  padding: 0.8rem 1.8rem;
  color: var(--thirdColor-);
  background: var(--secondColor-);
  border: none;
  margin: 3rem auto 0;
  font-weight: 800;
  cursor: pointer;
}
@keyframes indication {
  0% {
    transform: translateY(0.1rem);
  }
  50% {
    transform: translateY(-0.1rem);
  }
  100% {
    transform: translateY(0.1rem);
  }
}
#HabilitysPage .cardContainer .card {
  display: flex;
  flex-direction: row;
}
.cardContainer .card .firstLeftImg i {
  background: var(--fifthColor-);
  color: var(--fifthSubColor-);
}
.cardContainer .card .SecondLeftImg i {
  background: var(--sixthColor-);
  color: var(--sixthSubColor-);
}
.cardContainer .card .thirdLeftImg i {
  background: var(--seventhColor-);
  color: var(--seventhSubColor-);
}
.cardContainer .card .fourthLeftImg i {
  background: var(--eighthColor-);
  color: var(--eighthSubColor-);
}
#skillsPage .cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem 0;
}
#skillsPage .cardContainer .card {
  background: var(--thirdColor-);
  border: 1px solid #9c9c9c13;
  padding: 2rem;
  width: 315px;
  height: 400px;
  gap: 4rem;
  display: flex;
  flex-direction: column;
}
#skillsPage .cardContainer .firstCard {
  border-radius: 20px 0 0 20px;
  border-right: none;
}
#skillsPage .cardContainer .thirdCard {
  border-radius: 0 20px 20px 0;
  border-left: none;
}
#skillsPage .cardContainer .firstCard i {
  background: var(--tenthColor-);
  color: var(--tenthSubColor-);
}
#skillsPage .cardContainer .secondCard i {
  background: var(--eleventhColor-);
  color: var(--eleventhSubColor-);
}
#skillsPage .cardContainer .thirdCard i {
  background: var(--twelfthColor-);
  color: var(--twelfthSubColor-);
}
#skillsPage .cardTop {
  display: flex;
  gap: 1rem;
}
#skillsPage .cardTop i {
  padding: 1rem;
  font-size: 2em;
  border-radius: 10px;
  width: 64px;
  height: 64px;
}
#skillsPage .cardBotton {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#HabilitysPage .cardContainer,
#projectsPage .cardContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 6rem auto;
  max-width: 920px;
}
#projectsPage .cardContent .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--thirdColor-);
  box-shadow: 1px 1px 6px var(--shadow-);
  border-radius: 12px;
  padding: 1.5rem;
  max-width: 480px;
  height: 580px;
}
#projectsPage .figureContent {
  background: var(--fifthColor-);
  margin-bottom: 1rem;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  position: relative;
}
#projectsPage .figureContent img {
  max-width: 332px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}
#projectsPage .textContent {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
#projectsPage .projectButton {
  color: var(--firstColor-);
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
#projectsPage .projectButton i {
  opacity: 0;
  position: relative;
  left: -10px;
  transition: 200ms linear;
}
#projectsPage .projectButton:hover i {
  opacity: 1;
  left: 0;
}
.ancherCard {
  display: flex;
  gap: 1rem;
}
.footer {
  padding: 1rem 2rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .child {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
.footer hr {
  border-color: var(--secondColor-);
  margin: 1.8rem auto;
  min-width: 200px;
  max-width: 600px;
  width: 100%;
}
.footer .childContent h3{
  color: var(--secondColor-);
}
.footer .childContent p {
  color: var(--firstColor-);
  max-width: 400px;
}
.footer .logoSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer .links a {
  color: var(--firstColor-);
  font-size: 1.8em;
}
.footer .lastChild {
  color: var(--firstColor-);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  font-size: 0.8em;
}
.footer .childContent ul li a {
  color: var(--firstColor-);
  position: relative;
}
.returnToTop{
  display: none;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}
.returnToTop i{
  padding: 1rem;
  background: var(--firstColor-);
  color: var(--thirdColor-);
  font-size: 1.5em;
  border-radius: 15px;
  transition: 100ms linear;
}
.showReturnToTop{
  display: block;
  transition: 500ms liner;
}
@media screen and (max-width: 1024px) {
  #HabilitysPage .cardContainer {
    gap: 1rem;
  }
  #projectsPage .cardContent {
    max-width: 920px;
    gap: 1rem;
  }
  #skillsPage .cardContainer .card {
    max-width: 305px;
    width: 100%;
  }
}
@media screen and (max-width: 964px) {
  #HabilitysPage,
  #skillsPage,
  #projectsPage {
    margin: 0 2rem;
  }
  #skillsPage .cardContainer {
    flex-direction: column;
  }
  #skillsPage .cardContainer .card {
    max-width: none;
    width: 90vw;
  }
  #skillsPage .cardContainer .firstCard {
    border-radius: 20px 20px 0 0;
    border-right: 1px solid #9c9c9c13;
  }
  #skillsPage .cardContainer .thirdCard {
    border-radius: 0 0 20px 20px;
    border-left: 1px solid #9c9c9c13;
  }
}

@media screen and (max-width: 820px) {
  .header nav {
    display: none;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    padding: 2rem;
    box-shadow: 1px 1px 6px var(--shadow-);
    z-index: 10;
    background: var(--thirdColor-);
  }
  .header .active {
    display: flex;
  }
  .header nav ul {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }
  .header nav a {
    width: 100%;
    padding: 1rem 1rem 0 0;
    font-size: 1.2em;
  }
  .githubButton,
  .header .button {
    display: none;
  }
  #HabilitysPage .cardContainer .card {
    flex-direction: column;
  }
  .cardContainer .card .leftImg {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .buttonsHeader #menuButton {
    display: block;
  }
}
@media screen and (max-width: 724px) {
  #homePage h1 {
    font-size: 3.5em;
  }
  #homePage h1 ~ h2 {
    max-width: 300px;
    padding: 0 0.8rem;
    margin: 0 auto;
  }
  #HabilitysPage .cardContainer,
  #projectsPage .cardContent {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  #HabilitysPage .cardContainer::after,
  #skillsPage .cardContainer::after {
    display: none;
  }
  #HabilitysPage .cardContainer .card,
  #projectsPage .cardContent .card {
    max-width: none;
    width: 90vw;
  }
  #HabilitysPage,
  #skillsPage,
  #projectsPage {
    padding: 0;
    margin: 0.8rem auto;
  }

  .footer .child {
    flex-direction: column;
  }
}
@media screen and (max-width: 424px) {
  .header {
    padding: 1rem 1.8rem;
  }
}